.cspell-base.json
.cspell.json
.gitattributes
.github/
.gitignore
.prettierignore
.prettierrc.js
.vscode/
*.test.d.ts
*.test.js
dist/test/
scripts/
src/
static/
test-repos/
tsconfig-base.json
tsconfig.json
.github
.vscode
scripts
src
test-repos